<header class="head">
  <!-- start container -->
  <div class="container">
    <!-- start row -->
    <div class="row">
      <div class="col-xs-8 col-sm-11 col-lg-11">
        <img class="logo-page" ng-src="./images/{{photoName}}" alt="{{title}}">
        <!-- Title Page -->
        <h2 class="title">{{title}}</h2>
        <!-- Description Page -->
        <h4 class="sub-title">{{subTitle}}</h4>
      </div>
      <div class="col-xs-4 col-sm-1 col-lg-1 text-right">
        <a href="#/home" class="btn-close hover-animate"></a>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</header>