 /*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer{
  line-height: 36px;
  padding: 17px 0;
  border-top-width: 1px;
  border-top-style: solid;
}
.footer a{
}
.footer .ukie-icons{
}
.footer a:hover{
}
.footer a:hover .ukie-icons{
}
.footer .copyright{
}