/*------------------------------------*\
    #HOME HEADER
\*------------------------------------*/

.home-header .foto{
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    width: 232px;
    height: 232px;
    overflow: hidden;
    display: inline-block;
}
.home-header .foto img{
    width: 232px;
    height: 232px;
}
.home-header .title{
    text-transform: uppercase;
    margin-bottom: 0;
}
.home-header .sub-title{
    font-weight: 300;
    margin: 0;
    line-height: 34px;
}
.home-header  .full-length-photo{
    margin-top: 24px;
}