<footer class="footer">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <!-- start phone number -->
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <a href="#" class="hover-animate">
                    <span class="ukie-icons hover-animate"><i class="fa fa-phone"></i></span> +48 794 158 055
                </a>
            </div>
            <!-- end phone number -->
            <!-- start email -->
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <a href="#" class="hover-animate">
                    <span class="ukie-icons hover-animate"><i class="fa fa-paper-plane"></i></span> adrian@adrianandrzejewski.com
                </a>
            </div>
            <!-- end email -->
            <!-- start address -->
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <a href="#" class="hover-animate">
                    <span class="ukie-icons hover-animate"><i class="fa fa-map-marker"></i></span> Warsaw, Poland
                </a>
            </div>
            <!-- end address -->
            <!-- start Copyright -->
            <div class="col-xs-12 col-sm-6 col-lg-3 text-right">
                <span class="copyright">Copyright © 2015 All right reserved</span>
            </div>
            <!-- end Copyright -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</footer>